:root {
  --white-cl: #ffffff;
  --color-logo:#4D5AE5;
  --color-black:#2E2F42;
  --color-background:#F4F4FD; 
  --color-434455:#434455;
  --color-e7e9fc: #e7e9fc;
}

p, h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
margin-top: 0;
margin-bottom:0;
}
ul, ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img{
  display:block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: var(--white-cl);
    } 
.link { text-decoration:none;
}
.list {
  list-style: none;
}

.container { 
  width:100%;
  max-width: 1158px; 
  padding: 0 15px; 
  margin: 0 auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*---Header-----*/
.header{
padding: 24px 0;
border-bottom: 1px solid #e7e9fc;
}

.header-container{
  display: flex;
}
.header-navigation{
  display: flex; 
  align-items: center;
}

.header-adres-list {
  display: flex;
  gap: 40px;
}

/*header-logo*/
.logo {
color:var(--color-logo); 
font-family: Raleway, sans-serif; 
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
margin-right: 76px;

}
/*header-logo-link*/
.logo-studio{
color:var(--color-black);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;

}
.header-menu {
 display: flex; 
 gap: 40px;
}

.header-menu-link-link {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}
.header-menu-link-link:hover, .header-menu-link-link:focus {
  color:#404BBF;
}
.header-address{
font-style:normal;
margin-left: auto;
}


.header-adres-list{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px; 
   
}
.address-menu-link-link{
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  
}
.address-menu-link-link:hover, .address-menu-link-link:focus {
  color: #404BBF;
}

/*---Section-one-----*/
.section-one{ 
  background: #2E2F42;
  padding: 188px 0;
}

.section-one-container{
  margin: 0 auto;
}

.section-one-title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
   
}
.section-one-btn {
  color: #FFF;
  background: #4D5AE5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  margin-top:  48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
}
.section-one-btn:hover, .section-one-btn:focus {
  background-color: #404BBF;
}

/*----section-two (Effective Solutions for Your Business)-----*/
.section-two {
  padding: 120px 0;  
}

.section-two-list{
  display: flex;
  gap:24px;
  
}
.section-two-list-item{
  width: calc((100% - 24px*3)/4);
}

.section-two-item {
  color:#2E2F42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-two-item-text {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section-three ---wawd (What Are We Doing)---*/
 .wawd {
padding-bottom: 120px;
 }

 .wawd-title {
  color:  #2E2F42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.wawd-list {
  display: flex;
  gap: 24px;
  
}
.wawd-list-item{
  width: calc((100% - 24px*2))/3;
  margin: 0 auto;
}

/*--our team (section-ot)- section-four*/
.section-ot{
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.our-team-title {
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}
.section-ot-main-list{
  display: flex;
  gap: 24px;
}

.section-ot-list{
background-color:#FFFFFF;
width: calc((100% - 24px*3))/4;
margin-bottom: 120px;
margin: 0 auto;
border-radius: 0px 0px 4px 4px;
}
.about-worker{
  padding: 32px 0; 
}

.our-team-subtitle {
color:  #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
}
.our-team-text {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;  
}
/*footer*/
.footer {
  background: #2E2F42;
  padding: 100px 0; 
}
/*.container-footer{
   
}*/

.logo-studio-footer{
color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1,17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-logo{
display: inline-block;
font-family: "Raleway", sans-serif;
margin-bottom: 16px;
font-weight: 800;
 font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;
}

.footer-text {
color:  #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
width: 264px;
}



/*--page2--*/
/*--services--*/
.section-portfolio{
  padding-top: 96px; 
  padding-bottom: 120px;
}

.p-two-btn-list{
  display: flex;
  gap: 24px; 
  justify-content: center;
  margin-bottom: 72px;
  }

.services-menu-btn {
  color: var(--color-logo);
  background: var(--color-background);
  text-align: center; 
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-e7e9fc);
  border-radius: 4px; 
  
}

.services-menu-btn:hover, .services-menu-btn:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  border: 1px solid transparent
}

.p-two-services {
  display: flex;
  flex-wrap: wrap; 
  row-gap: 48px;
  column-gap: 24px;
  
}

.p-two-services-list{
width: calc((100% - 48px)/3);
} 

.portfolio-list-explain{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;


}

/*.services-menu-item {
 color: #4D5AE5;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}  */


.services-menu-list-item-title {
  color: var(--color-black);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.services-menu-list-item-text {
  color: var(--color-434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

